In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    'created_at': pd.date_range('2021-01-02', freq="MS", periods=9),
    'register': (np.arange(9) + 1) * 100,
})

In [5]:
df

  created_at  register
0 2021-02-01       100
1 2021-03-01       200
2 2021-04-01       300
3 2021-05-01       400
4 2021-06-01       500
5 2021-07-01       600
6 2021-08-01       700
7 2021-09-01       800
8 2021-10-01       900

In [10]:
df.expanding().sum()

   register
0     100.0
1     300.0
2     600.0
3    1000.0
4    1500.0
5    2100.0
6    2800.0
7    3600.0
8    4500.0