In [1]:
import pandas as pd

In [2]:
df_lgbm = pd.read_csv("sub.csv", index_col=None)
df_mlp = pd.read_csv("sub_mlp.csv", index_col=None)

In [3]:
#cols = ["pollen_utsunomiya", "pollen_chiba", "pollen_tokyo"]
cols = ["pollen_tokyo"]

In [4]:
df = df_lgbm.copy()
#for col in cols:
#    df[col] = 0

In [5]:
df.head()

     datetime  pollen_utsunomiya  pollen_chiba  pollen_tokyo
0  2020040101           2.797702      1.927351      2.045877
1  2020040102           3.107972      2.543820      2.247488
2  2020040103           2.430144      2.439107      2.547313
3  2020040104           2.263382      1.528326      2.034223
4  2020040105           2.915893      1.964642      2.425250

In [6]:
df_mlp.head()

     datetime  pollen_utsunomiya  pollen_chiba  pollen_tokyo
0  2020040101           4.865701      5.047617      4.113932
1  2020040102           4.651071      4.748086      2.613778
2  2020040103           5.145167      4.739955      3.844681
3  2020040104           4.802923      4.350545      3.334208
4  2020040105           5.671850      4.661530      3.655057

In [7]:
dfs = [df_mlp]

In [8]:
cols

['pollen_tokyo']

In [9]:

for col in cols:
    for _df in dfs:        
        df[col] += _df[col]
        
    df[col] = df[col] / (len(dfs) + 1)

In [10]:
df.head()

     datetime  pollen_utsunomiya  pollen_chiba  pollen_tokyo
0  2020040101           2.797702      1.927351      3.079904
1  2020040102           3.107972      2.543820      2.430633
2  2020040103           2.430144      2.439107      3.195997
3  2020040104           2.263382      1.528326      2.684216
4  2020040105           2.915893      1.964642      3.040153

In [11]:
df.to_csv("sub_ensemble.csv", index=None)